@model FacturacionMVC.Models.Factura

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Factura</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Model.Fecha.ToString("dd/MM/yyyy HH:mm")
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalFactura)
        </dt>
        <dd class="col-sm-10">
            @string.Format("{0:C}", Model.TotalFactura)
        </dd>

        <dt class="col-sm-2">
            Cliente
        </dt>
        <dd class="col-sm-10">
            @(Model.Cliente != null ? $"{Model.Cliente.Nombres} {Model.Cliente.Apellidos}" : "Sin cliente asignado")
        </dd>

        <dt class="col-sm-2">
            Emisor
        </dt>
        <dd class="col-sm-10">
            @(Model.Emisor != null ? Model.Emisor.RazonSocial : "Sin emisor asignado")
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
