@model IEnumerable<FacturacionMVC.Models.Factura>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalFactura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emisor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    <tr>
        <td>
            @item.Fecha.ToString("dd/MM/yyyy HH:mm")
        </td>
        <td>
            @string.Format(new System.Globalization.CultureInfo("es-CO"), "{0:C}", item.TotalFactura)
        </td>
        <td>
            @(item.Cliente != null ? $"{item.Cliente.Nombres} {item.Cliente.Apellidos}" : "Sin cliente")
        </td>
        <td>
            @(item.Emisor != null ? item.Emisor.RazonSocial : "Sin emisor")
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
        </td>
    </tr>
}

    </tbody>
</table>
